name: Run Scraper

on:
  schedule:
      - cron: '0 */2 * * *'
        workflow_dispatch:

        jobs:
          build:
              runs-on: ubuntu-latest
                  steps:
                      - name: Checkout code
                            uses: actions/checkout@v3
                                - name: Set up Python
                                      uses: actions/setup-python@v4
                                            with:
                                                    python-version: '3.9'
                                                        - name: Install dependencies
                                                              run: |
                                                                      python -m pip install --upgrade pip
                                                                              pip install requests beautifulsoup4
                                                                                  - name: Run Scraper
                                                                                        run: python 04_Myhomeshopping/scraper.py
                                                                                              env:
                                                                                                      FIREBASE_URL: "https://myhomeshopping-a9724-default-rtdb.firebaseio.com/"
                                                                                                          - name: Commit and push if changed
                                                                                                                run: |
                                                                                                                        git config --global user.email "action@github.com"
                                                                                                                                git config --global user.name "GitHub Action"
                                                                                                                                        git add .
                                                                                                                                                git diff --quiet && git diff --staged --quiet || git commit -m "Update hot deals"
                                                                                                                                                        git push
                                                                                                                                                        
