name: Scraper Workflow

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  scrape_job:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v3

      - name: 파이썬 설정
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 라이브러리 설치
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: 스크래퍼 실행
        env:
          FIREBASE_URL: "${{ secrets.FIREBASE_URL }}"
        run: python scraper.py
